/*
* {
  border: 1px solid red;
}

body {
  font-family: sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

h1 {
  font-family: "Rock Salt", cursive;
  text-align: center;
}

#addContent {
  margin: 0 auto;
  width: 550px;
}

li {
  display: flex;
  line-height: 3em;
  align-items: center;
  width: 50%;
}

#textContainer {
  padding: 0 32px 0 32px;
  width: 200px;
  max-width: 200px;
}

.delete-button {
  position: absolute;
  right: 12%;
}

span {
}
