/* Browser window size optimized for console view in second screen */
body {
  /* width: 50%; */
  margin: 0 auto;
  display: flex;
  justify-content: center;
  font-family: 'consolas';
  background-color: rgb(13,17,23);
  color: white;
}

span {
  padding: 0 20px;
}

.save {
  display: none;
}