/* Browser window size optimized for console view in second screen */
body {
  /* width: 50%; */
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: "consolas";
  background-color: rgb(13, 17, 23);
  color: white;
}

body > * {
  width: 30%;
  text-align: center;
  /* height: 400px; */
  margin-bottom: 140px;
}

li {
  list-style-type: none;
}

span {
  padding: 0 20px;
}

.save {
  display: none;
}

.done > input,
.done [id*="done"] {
  background-color: grey;
  text-decoration: line-through;
}
